In [1]:
import os
import pandas as pd
import numpy as np

path = 'test_results/BCICompet2a'

In [42]:
results = os.listdir(path)
columns = ['Subject', 'Accuracy', 'Kappa']
dfs = [pd.read_csv(os.path.join(path, result)) for result in results]
for df in dfs:
    df.columns = columns
for i in range(len(dfs)):
    dfs[i]['method'] = results[i].split('-')[-1].split('.')[0]
concat_df = pd.concat(dfs)

In [ ]:

# Create Accuracy DataFrame
accuracy_df = concat_df.pivot(index='Subject', columns='method', values='Accuracy')

# Create Kappa DataFrame
kappa_df = concat_df.pivot(index='Subject', columns='method', values='Kappa')

In [49]:
# Calculate mean and standard deviation for Accuracy and Kappa
accuracy_mean = accuracy_df.mean()
accuracy_std = accuracy_df.std()
kappa_mean = kappa_df.mean()
kappa_std = kappa_df.std()

# Append mean and standard deviation to the DataFrames
accuracy_df.loc['Mean'] = accuracy_mean
accuracy_df.loc['Std'] = accuracy_std
kappa_df.loc['Mean'] = kappa_mean
kappa_df.loc['Std'] = kappa_std

In [50]:
accuracy_df

method,all_attn_cond,all_attn_cond_avg,all_attn_cond_ftr,all_baseline,all_cat_cond
Subject,,,,,
0,0.781250,0.809028,0.809028,0.833333,0.809028
1,0.486111,0.527778,0.479167,0.534722,0.503472
2,0.899306,0.895833,0.895833,0.892361,0.875000
3,0.225694,0.239583,0.218750,0.239583,0.229167
4,0.579861,0.638889,0.631944,0.604167,0.618056
5,0.576389,0.604167,0.621528,0.631944,0.590278
6,0.868056,0.861111,0.868056,0.854167,0.861111
7,0.802083,0.812500,0.798611,0.819444,0.826389
8,0.753472,0.784722,0.756944,0.781250,0.795139
Mean,0.663580,0.685957,0.675540,0.687886,0.678627
Std,0.216892,0.208811,0.217147,0.209527,0.214605

In [51]:
kappa_df

method,all_attn_cond,all_attn_cond_avg,all_attn_cond_ftr,all_baseline,all_cat_cond
Subject,,,,,
0,0.708333,0.745370,0.745370,0.777778,0.745370
1,0.314815,0.370370,0.305556,0.379630,0.337963
2,0.865741,0.861111,0.861111,0.856481,0.833333
3,-0.032407,-0.013889,-0.041667,-0.013889,-0.027778
4,0.439815,0.518519,0.509259,0.472222,0.490741
5,0.435185,0.472222,0.495370,0.509259,0.453704
6,0.824074,0.814815,0.824074,0.805556,0.814815
7,0.736111,0.750000,0.731481,0.759259,0.768519
8,0.671296,0.712963,0.675926,0.708333,0.726852
Mean,0.551440,0.581276,0.567387,0.583848,0.571502
Std,0.289189,0.278415,0.289529,0.279369,0.286141